# 构建输出
build/bin
frontend/dist

# 依赖
node_modules

# 可执行文件
*.exe
*.exe~

# 备份文件
backup/
*.backup
*-bak.*
*副本*

# 数据库文件
*.db
*.sqlite

# 日志文件
logs/
*.log

# 临时文件
*.tmp
*.temp
.DS_Store
Thumbs.db

# IDE文件
.vscode/
.idea/
*.swp
*.swo

# 环境变量
.env
.env.local
